.app_wrap {
    display : flex;
    justify-content :center;
    align-items : center; 
    background-color : aqua;
    height:100vh;
}

.app_wrap .app_item {
    flex-basis : 20%;
    padding : 20px;
}

/*전역선택자 - 바로적용이 가능*/
:global .input_control {
    display : block;
    width : 100%;
    box-sizing: border-box;
    color:red;
}